[submodule "modules/utils"]
	path = modules/utils
	url = https://github.com/sarpsenturk/orion-utils.git
[submodule "modules/math"]
	path = modules/math
	url = https://github.com/sarpsenturk/orion-math.git
